<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개인별 작업보고서</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="container mx-auto px-4 bg-neutral-50">
      <section class="mb-4">
        <h1 class="text-xl font-bold">개인별 작업보고서</h1>
      </section>

      <section class="text-sm my-4">
        <div class="flex items-center gap-4">
          <input
            type="text"
            name="name"
            id=""
            class="border p-1 block"
            placeholder="작업자 성명" />
          <button class="w-1/2 button rounded p-1 bg-green-700 text-white">
            제출
          </button>
        </div>
      </section>

      <section class="text-sm">
        <label for="" class="">작업 날짜</label>
        <input type="date" name="" id="" class="p-1 border-b" step="" />
      </section>

      <div class="grid grid-cols-1 items-center">
        <div id="tasks">
          <div class="task" class="">
            <hr class="my-4" />
            <div class="grid grid-cols-1 gap-4 md:grid-flow-col">
              <h1 class="idx">#1</h1>
              <div class="text-sm">
                <label for="company" class="">업체</label>
                <select name="company" id="" class="border-b pl-1">
                  {% for company in companies %}
                  <option value="{{company.name}}">{{company.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="text-sm">
                <label for="">제품</label>
                <select name="" id="" class="border-b pl-1">
                  <option value="">노블 2.0 복합필터</option>
                  <option value="">노블 2.0 이중필터</option>
                  <option value="">마이티 산불 복합필터 ㅇㅇㅇㅇ</option>
                </select>
              </div>
              <div class="text-sm">
                <label for="">공정</label>
                <select name="" id="" class="border-b pl-1">
                  <option value="">인박스 접기</option>
                  <option value="">폴리백</option>
                  <option value="">검사 및 비닐포장</option>
                </select>
              </div>
              <div class="text-sm flex">
                <div>
                  <label for="">양품</label>
                  <input
                    type="number"
                    name=""
                    id=""
                    class="pl-1 w-1/2"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                </div>
                <div>
                  <label for="">불량</label>
                  <input
                    type="number"
                    name=""
                    id=""
                    class="pl-1 w-1/2"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                </div>
              </div>
              <div class="text-sm">
                <label for="">시작 시간</label>
                <input
                  type="time"
                  name=""
                  id=""
                  class="pl-1 border-b"
                  step="300" />
              </div>
              <div class="text-sm">
                <label for="">종료 시간</label>
                <input
                  type="time"
                  name=""
                  id=""
                  class="pl-1 border-b"
                  step="300" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <button
          onclick="addTask()"
          class="w-full my-8 button bg-black text-white p-1 rounded">
          작업 추가 (+)
        </button>
      </div>
    </div>
  </body>
  <script>
    let addCount = 1;
    const addTask = () => {
      const tasks = document.getElementById("tasks");

      let tag = `
            <div class="task">
            <hr class="my-4" />
            <div class="grid grid-cols-1 gap-4 md:grid-flow-col">
              <h1 class="idx">#${++addCount}</h1>
              <div class="text-sm">
                <label for="company" class="">업체</label>
                <select name="company" id="" class="border-b pl-1">
                  {% for company in companies %}
                  <option value="{{company.name}}">{{company.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="text-sm">
                <label for="">제품</label>
                <select name="" id="" class="border-b pl-1">
                  <option value="">노블 2.0 복합필터</option>
                  <option value="">노블 2.0 이중필터</option>
                  <option value="">마이티 산불 복합필터 ㅇㅇㅇㅇ</option>
                </select>
              </div>
              <div class="text-sm">
                <label for="">공정</label>
                <select name="" id="" class="border-b pl-1">
                  <option value="">인박스 접기</option>
                  <option value="">폴리백</option>
                  <option value="">검사 및 비닐포장</option>
                </select>
              </div>
              <div class="text-sm">
                <label for="">시작 시간</label>
                <input
                  type="time"
                  name=""
                  id=""
                  class="pl-1 border-b"
                  step="300" />
              </div>
              <div class="text-sm">
                <label for="">종료 시간</label>
                <input
                  type="time"
                  name=""
                  id=""
                  class="pl-1 border-b"
                  step="300" />
              </div>
            </div>
          </div>
        `;

      tasks.insertAdjacentHTML("beforeend", tag);
    };
  </script>
</html>
